@import url('../../global/colors.scss');
@import url('../../global/global.scss');

.display-collection-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  gap: 1rem;

  background: var(--background-gradient);
  background-image: url('/img/jungle-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .dashboard-container{
    z-index: 3;

    .background-overlay-collection{
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background-overlay);
      z-index: 2;
    }
  }


}