  @import url('../../global/colors.scss');
  @import url('../../global/global.scss');

  body.dashboard-body{
    background: var(--background-gradient);
    animation: none;
    .dashboard-container{
      position: relative;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1;
    }
  }
