  @import url('../../global/colors.scss');
  @import url('../../global/global.scss');

  .dashboard-body{
    position: relative;
    .background-overlay-dashboard{
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6); 
      z-index: 1;
    }
  }

  body.dashboard-body{
    background: var(--background-gradient);
    animation: none;
    position: relative;

    background-image: url('/img/jungle-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;




    .dashboard-container{
      position: relative;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
    }
  }