@import url('../global/colors.scss');
@import url('../global/global.scss');

body{
  background: var(--backgroud);
  main#errors{
    border: 2px solid var(--highlight);
    padding: 2rem;
    button{
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 1rem;
      width: 100%;
      margin-top: 3rem;
      border-radius: 5px;
      border: 2px solid var(--highlight);
      cursor: pointer;
      background-color: var(--highlight);
  
      &:hover{
        background-color: var(--highlight-hover);
      }
      &:focus{
        border: 2px solid var(--highlight-hover);
        background-color: var(--highlight-hover);
        outline: none
      }
      &:active{
        transform: scale(0.97);
      }
  }}
}
