$primary: #d9d9d9e6;
$primary-emphasis: #ffacdf;
$primary-emphasis-hover: #fda0d0;
$secondary: #998398;
$secondary-emphasis: #9c9a9ac4;

$danger: #ff4a4a;

$backgroud: #0f060f;
$backgroud-emphasis: #1f101f;
$hover: #d9d9d9e6;

:root{
  --background: #1E1E1E;
  --background-gradient: linear-gradient(135deg, #293643, var(--highlight));
  --background-gradient-hover: linear-gradient(135deg, #91f417e7, #293643 );
  --background-gradient-2: linear-gradient(20deg, var(--highlight-hover), var(--highlight));
  --borders: #383838;
  --highlight: #32cd32e7;
  --highlight-hover: #37df37;
  --secondary: #998398;
  --secondary-emphasis: #9c9a9ac4;
  
  --danger: #fe3030d9;
  --danger-hover: #ff4a4a;
  
  --black: #000000;
  --white: #FFFFFF;
  --backgroud: #0f060f;
  --backgroud-emphasis: #1f101f;
  --hover: #d9d9d9e6;
}