@import "./colors.scss";

html {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: $backgroud;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #313131;
}