  @import url('../../global/colors.scss');
  @import url('../../global/global.scss');

  .dashboard-body{
    .background-overlay-collections{
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--background-overlay); 
      z-index: 1;
    }
  }

  body.dashboard-body{
    background: var(--background-gradient);
    position: relative;
    min-width: 100vw;
    min-height: 100vh;

    background-image: url('/img/jungle-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .dashboard-container{
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100vw;
      min-height: 100vh;
      z-index: 2;
    }
  }