@import url('../../../global/colors.scss');
@import url('../../../global/global.scss');

.showModal{
  // display: flex !important;
  opacity: 1;
  top: 0 !important;
} 
.hideModal{
  opacity: 0;
  top: -20vh !important;
  user-select: none !important;
  pointer-events: none !important;
}
main.add-collection-main{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  transition: 0.4s ease;
  background-color: var(--popup-background-color);
  backdrop-filter: blur(4px);
  margin-top: 80px;

  .new-collection-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10dvh;
    background-color: rgba(0,0,0,0.75);
    max-width: 1000px;
    min-width: 1000px;
    border-radius: 12px;
    max-height: fit-content;
    gap: 1rem;
    margin-bottom: auto;
    margin-top: 1rem;
    overflow: auto;
    max-height: 75vh;

    .header{
      display: flex;
      grid-column: span 2;
    }

    .name-img-inputs{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      width: 100%;
    }

    .submit-btn{
      display: flex;
      padding: 1rem;
      width: 100%;
      border-radius: 5px;
      border: 2px solid var(--highlight);
      cursor: pointer;
      background-color: var(--highlight);
      align-items: center;
      justify-content: center;
      grid-column: span 2;
      max-height: 60px;
  
      &:hover{
        background-color: var(--highlight-hover);
      }
      &:focus{
        border: 2px solid var(--highlight-hover);
        background-color: var(--highlight-hover);
        outline: none
      }
      &:active{
        transform: scale(0.97);
      }
    }
  }
}