@import url('../../../global/colors.scss');
@import url('../../../global/global.scss');


.showPopup{
  opacity: 1;
  top: 0 !important;
} 
.hidePopup{
  opacity: 0;
  top: -20vh !important;
  display: none;
  user-select: none !important;
  pointer-events: none !important;
}
div.upload-schematic-body{
  display: flex;
  justify-content: center;
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // top: 50%;
  // left: 50%;
  position: fixed;
  transform: translate(0%, 0%);
  // min-width: 100%;
  min-height: 100%;
  z-index: 3;
  transition: 0.5s ease;
  // background: transparent !important;
  // background-color: rgba(0,0,0,0.5) !important;
  // backdrop-filter: blur(4px);

  .background-overlay-upload{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25); 
    z-index: 2;
  }

  .upload-schematic-content-popup{
    display: flex;
    flex-direction: column;
    // width: 100%;
    // max-width: 1000px;
    // min-height: 5500px;
    padding: 1rem;
    margin-top: 6rem;
    position: fixed;
    transform: translate(0%, 0%);
    z-index: 3;
    transition: margin-top 0.2s ease;


  
    h1{
      margin-top: 0px;
    }
  
    .toast-container{
      margin-top: 80px;
    }
    #upload-form{
      animation: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: min-content;
      flex-direction: column;
      gap: 15px;
      background-color: var(--background);
      background-color: transparent;
      padding: 10dvh;
      z-index: 3;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 12px;
      overflow: auto;
      max-height: 75vh;
  
      .header{
        display: flex;
        min-width: 100%;
        grid-column: span 2;
      }
  
      .inputs-section,
      .toast-container{
        display: flex;
        flex-direction: column;
        gap: 1rem !important;
      }
  
  
      .submit-btn{
        display: flex;
        padding: 1rem;
        width: 100%;
        border-radius: 5px;
        border: 2px solid var(--highlight);
        cursor: pointer;
        background-color: var(--highlight);
        align-items: center;
        justify-content: center;
        grid-column: span 2;
    
        &:hover{
          background-color: var(--highlight-hover);
        }
        &:focus{
          border: 2px solid var(--highlight-hover);
          background-color: var(--highlight-hover);
          outline: none
        }
        &:active{
          transform: scale(0.97);
        }
      }
    }
  }
}



@media only screen and (max-width: 1024px) {
  .upload-schematic-content-popup{
    #upload-form{
      display: flex;
    }
  }
}

