@import url('../../global/colors.scss');
@import url('../../global/global.scss');

.profile-container{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  height: inherit;
  position: relative;
  padding: 0px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;


  .navbar-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    max-width: 100%;
    max-height: inherit;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
  }

  #profile-btn{
    display: flex;
    height: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    &:hover{
      background-color: var(--highlight-hover);
    }

    .toggle-preview-icon{
      display: flex;
      height: 20px;
      width: 20px;
    }
  }
  .dropdown-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -50%;
    top: 65px;
    margin: 0px;
    padding: 0px;
    width: 200px;
    overflow: hidden;
    background-color: var(--black);
    box-sizing: border-box;
    border-radius: 5px;
  }

  .open{
    display: flex;
    height: fit-content;
  }
  .closed{
    display: flex;
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .dropdown-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 65px;
    margin: 0px;
    min-width: 100%;
    overflow: hidden;
    background-color: var(--black);
    gap: 1rem;
  }

  .open{
    display: flex;
    height: fit-content;
  }
  .closed{
    display: flex;
    height: fit-content;
  }
}