@import url('../../global/colors.scss');
@import url('../../global/global.scss');

.load-gif-container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
  background-color: var(--background);
  z-index: 5;

  .gif-container{
    max-height: 200px;
    max-width: 200px;
    align-self: center;
    justify-self: center;
    img.load-gif{
      max-height: 200px;
      max-width: 200px;
      border-radius: 100%;
      left: calc(50% - 100px);
      top: calc(50% - 100px);
      object-fit: cover;
      animation: none;
    }
  }

  .load-gif-text{
    font-weight: bold;
    color: var(--white);
  }
}