@import url('../../../global/colors.scss');
@import url('../../../global/global.scss');

// NIKAKO NE DIRATI, SVE ZIVO SJEBE!
.landing-content{
  display: grid;
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 80px;
  height: 100%;
  background: var(--background-gradient);
  background-image: url('/img/jungle-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .landing-content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    z-index: 2;


    .info-open-state{
      opacity: 1;
      min-height: 70vh;
    }
    .info-closed-state{
      height: 80px;
    }
    .info-content-open-state{
      transition: 0.2s linear;
      opacity: 1;
    }
    .info-content-closed-state{
      transition: 0.2s linear;
      opacity: 0;
      visibility: hidden;
    }
  
    .collection-info{
      background-color: rgba(0,0,0,0.7);
      padding: 1rem;
      border-radius: 12px;
      z-index: 3;
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      position: relative;
      gap: 1rem;
      overflow: hidden;
      z-index: 12;
      // transition: 0.2s linear;


      .information-inputs{
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-left: 2px solid var(--borders);
        margin-bottom: 2rem;
        gap: 1rem;

        .collection-input-name-container{
          // grid-column: span 2 !important;
          // width: calc(50% - 0.5rem);
        }
        .placeholder{
          // background-color: red;
          grid-row: span 2;
        }

        #tags-input,
        .tags-input{
          margin-top: 0px !important;
        }
      }


      .add-remove-schem-container{
        // background-color: red !important;
        grid-column: span 2 !important;
      }
      .submit-button-container{
        grid-column: span 2 !important;
        display: flex;
        align-items: center;
        justify-content: end;
        transition: 0.2s linear;

        .save-changes-button{
          display: flex;
          bottom: -2rem;
          margin-top: auto;
          padding: 1rem;
          cursor: pointer;
          border: 2px solid transparent;
          background-color: var(--highlight);
          border-radius: 5px;

          &:hover{
            cursor: pointer;
            background-color: var(--highlight-hover);
          }
          &:active{
            transform: scale(0.95);
          }
        }
      }

  
      // INFO CONTENT CONTAINER
      .collection-info-content{
          display: flex;
          align-items: start;
          justify-content: start;
          border-radius: 5px;
          position: relative;
          height: 100%;
          height: 300px;
          
          #avatar-input{
            visibility: hidden;
          }

          .collection-upload-avatar-button{
            display: flex;
            position: absolute;
            bottom: -2rem;
            margin-top: auto;
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
            padding: 1rem;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--borders);
            background-color: var(--black);
            border-radius: 5px;

            &:hover{
              cursor: pointer;
              background-color: var(--highlight-hover);
            }
            &:active{
              transform: scale(0.95);
            }
          }
            
      
          .collection-avatar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            padding: 2rem;
            cursor: pointer;
            transition: 0.2s linear;
            margin: auto;
            

            &:hover{
              transform: scale(1.05);
            }
            &:active{
              transition: none;
              transform: scale(1);
            }
        }
      }
  
      // HEADER & TOGGLE BUTTON
      .title{
        grid-column: span 2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: min-content;
        margin-bottom: 80px;
        z-index: 12;
  
        .toggle-preview-btn{
          display: flex;
          align-items: center;
          position: absolute;
          gap: 0.5rem;
          top: 0px;
          left: 0px;
          right: 0px;
          font-size: 20px;
          height: 80px;
          padding: 4px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          width: 100%;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          z-index: 3;
      
      
          &:focus{
            outline: none;
          }
          &:hover{
            background-color: var(--highlight-hover);
          }
      
          .toggle-preview-icon{
            transition: 0.3s ease;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }


  .options-section{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background);
    align-items: center;

    a{
      text-align: center;
    }
  }

  .schematics-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    min-height: 45vh;
  }
  .options-section{
    max-height: 120px;
  }
}


@media only screen and (max-width: 1444px) {
  .collections-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .collections-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .collections-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 1rem;
  }
}
