@import url('../../global/colors.scss');
@import url('../../global/global.scss');

body.reset-password-body{
  position: relative;

  background-image: url('/img/login-background-1920x1080.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .reset-password-background-image{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    animation: none;
  }

  overflow: hidden;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2) !important; 
    z-index: 2;
  }
  form{
    position: relative;
    top: -50px;
    z-index: 3;
    padding: 0rem 4rem;
    padding-bottom: 6rem;
    padding-top: 3rem;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    animation: zoomIn ease 1.2s;
    animation-fill-mode: forwards;

    h1{
      text-align: center;
    }

    .error-message{
      margin-top: 1rem;
      color: var(--danger);
    }

    .btn-submit{
      display: flex;
      padding: 1rem;
      width: 100%;
      margin-top: 3rem;
      border-radius: 5px;
      border: 2px solid var(--highlight);
      cursor: pointer;
      background-color: var(--highlight);
      align-items: center;
      justify-content: center;
  
      &:hover{
        background-color: var(--highlight-hover);
      }
      &:focus{
        border: 2px solid var(--highlight-hover);
        background-color: var(--highlight-hover);
        outline: none
      }
      &:active{
        transform: scale(0.97);
      }
    }

    .register-link-container{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      .register-link{
        text-decoration: underline;
        color: #8bacea;

        &:hover{
          color: #6495ED;
          cursor: pointer;
        }
      }
    }

  }
  .hero-text{
    font-size: 34px;
    margin-bottom: 3rem;
  }

  .copyright-link{
    text-decoration: none;
    color: #d9d9d9f3;

    &:hover{
      color: #8bacea;
    }
  
    .copyright{
      display: flex;
      position: absolute;
      width: 350px;
      bottom: 30px;
      left: calc(50% - 175px);
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      z-index: 4;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.4);
}
100% {
  transform: scale(1);
}
}

@media only screen and (max-width: 900px) {
  .reset-password-form{
    width: 90vw !important;
    padding: 0rem 2.5rem;
    padding-bottom: 4rem;
    padding-top: 1.5rem;
  }
}