@import url('../../global/colors.scss');
@import url('../../global/global.scss');

.upload-schematic-body{
  background: var(--background-gradient);
  display: flex;
  position: relative;
  overflow: hidden;
  position: relative;
  min-width: 100%;
  justify-content: center;

  background-image: url('/img/jungle-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .background-overlay-upload{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: var(--background-overlay); 
    z-index: 2;
  }
}

.upload-schematic-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  max-width: 900px;
  padding: 1rem;
  margin-top: 6rem;

  h1{
    margin-top: 0px;
  }

  .toast-container{
    margin-top: 80px;
  }
  #upload-form{
    animation: none;
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background);
    background-color: transparent;
    background: rgba(0, 0, 0, 0.7);
    padding: 10dvh;
    z-index: 3;
    border-radius: 12px;

    .submit-btn{
      display: flex;
      padding: 1rem;
      width: 100%;
      border-radius: 5px;
      border: 2px solid var(--highlight);
      cursor: pointer;
      background-color: var(--highlight);
      align-items: center;
      justify-content: center;
  
      &:hover{
        background-color: var(--highlight-hover);
      }
      &:focus{
        border: 2px solid var(--highlight-hover);
        background-color: var(--highlight-hover);
        outline: none
      }
      &:active{
        transform: scale(0.97);
      }
    }
  }
}

