@import url('../../global/colors.scss');
@import url('../../global/global.scss');

article{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 40vh;
  min-height: 40vh;
  max-height: 40vh;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);


  .img-container {
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/img/placeholder-img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 5px;

    img {
      overflow: hidden;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .buttons{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    margin-top: auto;

    button{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--borders);
      padding: 0.5rem;
      background-color: var(--black);
      border-radius: 5px;

      .link{
        text-decoration: none;
        color: inherit;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }

      &:hover{
        cursor: pointer;
        background-color: whitesmoke;
        color: black;
      }
      &:active{
        transform: scale(0.95);
      }
    }
    .get-button{
      background: var(--background-gradient);
      &:hover{
        transition: 0.2s ease;
        background: var(--background-gradient-2);
      }
    }
    .btn-copied{
      background: var(--background-gradient);
      &:hover{
        background: var(--background-gradient);
        color: var(--white);
      }
    }

    div{
      display: flex;
      gap: 10px;

      .remove-button{
        background-color: var(--danger);
        &:hover{
          background-color: var(--danger-hover);
        }
      }
    }
  }
}

@media only screen and (max-width: 1444px) {
  article{
    min-height: 45vh;
  }
}
@media only screen and (max-width: 1024px) {
  article{
    min-height: 45vh;
  }
}
@media only screen and (max-width: 600px) {
  article{
    min-height: 80vh;
  }
}
