@import url('./index.css');
@import url('../src/global/colors.scss');
@import url('../src/global/global.scss');

body,html,:root{
  position: relative;
  background-color: var(--background) !important;
}
.toast-container{
  margin-top: 80px;
}