@import url('../../../global/colors.scss');
@import url('../../../global/global.scss');


.showPopup{
  opacity: 1;
  top: 0 !important;
} 
.hidePopup{
  opacity: 0;
  top: -20vh !important;
  display: none;
  user-select: none !important;
  pointer-events: none !important;
}
.upload-schematic-body-popup{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
  transition: 0.5s ease;
  background: transparent !important;
  background: var(--popup-background-color);
  backdrop-filter: blur(4px);
}

.upload-schematic-content-popup{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  margin-top: 6rem;

  transition: margin-top 0.2s ease-out;


  h1{
    margin-top: 0px;
  }

  .toast-container{
    margin-top: 80px;
  }
  #upload-form{
    animation: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: min-content;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background);
    background-color: transparent;
    padding: 10dvh;
    z-index: 3;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 12px;

    .header{
      display: flex;
      min-width: 100%;
      grid-column: span 2;
    }

    .inputs-section,
    .toast-container{
      display: flex;
      flex-direction: column;
      gap: 1rem !important;
    }


    .submit-btn{
      display: flex;
      padding: 1rem;
      width: 100%;
      border-radius: 5px;
      border: 2px solid var(--highlight);
      cursor: pointer;
      background-color: var(--highlight);
      align-items: center;
      justify-content: center;
      grid-column: span 2;
  
      &:hover{
        background-color: var(--highlight-hover);
      }
      &:focus{
        border: 2px solid var(--highlight-hover);
        background-color: var(--highlight-hover);
        outline: none
      }
      &:active{
        transform: scale(0.97);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .upload-schematic-content-popup{
    #upload-form{
      display: flex;
    }
  }
}

